body {
  margin: 0;
  font-family: 'freesentation' , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
textarea {
  font-family: 'freesentation' !important;
}

input[type=date] {
  font-family: 'freesentation' !important;
}

code {
  padding: 3px 6px;
  border: none;
	border-radius: 3px;
	background-color: #e9ecef;
	font-size: 1rem;
  font-family: 'freesentation' , sans-serif;
}

@font-face {
  font-family: 'freesentation';
  font-weight: 100;
  src: url('./assets/fonts/Freesentation-1Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'freesentation';
  font-weight: 200;
  src: url('./assets/fonts/Freesentation-2ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'freesentation';
  font-weight: 300;
  src: url('./assets/fonts/Freesentation-3Light.ttf') format('truetype');
}
@font-face {
  font-family: 'freesentation';
  font-weight: 400;
  src: url('./assets/fonts/Freesentation-4Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'freesentation';
  font-weight: 500;
  src: url('./assets/fonts/Freesentation-5Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'freesentation';
  font-weight: 600;
  src: url('./assets/fonts/Freesentation-6SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'freesentation';
  font-weight: 700;
  src: url('./assets/fonts/Freesentation-7Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'freesentation';
  font-weight: 800;
  src: url('./assets/fonts/Freesentation-8ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'freesentation';
  font-weight: 900;
  src: url('./assets/fonts/Freesentation-9Black.ttf') format('truetype');
}